.dot{
    position: fixed;
    width: 5px;
    background-color: #2d2d2d;;
    height: 5px;
    border-radius: 5px;
    z-index: 5;
    top: 50%;
    left: 40%;
    user-select: none;
    -webkit-user-drag: none;
}
.drawingbtn{
    position: fixed;
    right: 60px;
    bottom: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 8;
    background-color: #cfcfcf;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px;
    background-image: url(/img/Pencil.png);
    cursor: pointer;
    transition: all 1s ;
}
.textDrawing{
    position: absolute;
    white-space: nowrap;
    top: 40%;
    text-align: start;
    right: 0%;
    width: 100%;
    opacity: 0;
    transition: all 0.7s;
    
}
.drawingbtn:hover  .textDrawing{
    opacity: 1;
    right: 200%;
}

.btnActiveDrawing{
    background-color: #a3a3a3;
}